html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
}

.wrapper{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

#map{
  width: 90%;
  max-width: 800px;
  grid-column-start: 3;
  grid-column-end: 6;
  align-content: center;
  margin: auto;
}

.menu{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: beige;
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  padding: 5px;
}

.titleBox{
 padding: 20px;
 grid-row: auto;
}

.options{
  
}

.first_station{
  background-color : rgb(255, 255, 128);
}
.last_station{
  background-color: rgb(88, 111, 245);
}
.passSelect{
  background-color : rgb(250, 144, 144);
}
.via{
  background-color: rgb(144, 144, 247);
}

.mapSelect{
  /* background-color: #C2E3B1; */
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.mapSelect.selecting{
  -webkit-box-shadow: inset 27px 0px 16px -1px rgba(0,255,85,1);
  -moz-box-shadow: inset 27px 0px 16px -1px rgba(0,255,85,1);
  box-shadow: inset 27px 0px 16px -1px rgba(0,255,85,1);
  cursor: auto;
}

.mybutton{
  background-color: #A2C391;
  padding: 20px;
  text-align: center;
}
.mybutton:hover{
  background-color: aquamarine;
  cursor: pointer;
}

#messages{
  background-color: #91C3A2;
  grid-row: auto;
  grid-column-start: 3;
  padding: 10px;
}

.traseu .busSegment{
  -webkit-box-shadow: inset 0px -1px 25px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -1px 25px -2px rgba(0,0,0,0.75);
  box-shadow: inset 0px -1px 25px -2px rgba(0,0,0,0.75);
  display: grid;
  padding: 8px;
  grid-template-columns: 80px 1fr 100px;
  grid-template-rows:1fr 1fr 1fr; 
  grid-column-gap: 15px;
}

.traseu .busSegment .busCol{
  background-color: #d2d2d2; 
  grid-row-start:1;
  grid-row-end:3;
  grid-column-start:1;
  grid-column-end:1;
  min-height: 30px;
  min-width: 30px;
}
